In [1]:
import torch 
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data/Type1dataset.csv")

In [3]:
data

             DisplayTime GlucoseValue    subjectId      InternalTime
0       03-02-2014 03:42           93  1636-69-001  03-02-2016 00:05
1       03-02-2014 03:47           93  1636-69-001  03-02-2016 00:10
2       03-02-2014 03:52           93  1636-69-001  03-02-2016 00:15
3       03-02-2014 03:57           95  1636-69-001  03-02-2016 00:20
4       03-02-2014 04:02           96  1636-69-001  03-02-2016 00:25
...                  ...          ...          ...               ...
105421  11-07-2017 20:21           70     2133-041  12-07-2017 04:21
105422  11-07-2017 20:26           64     2133-041  12-07-2017 04:26
105423  11-07-2017 20:31           61     2133-041  12-07-2017 04:31
105424  11-07-2017 20:36           62     2133-041  12-07-2017 04:36
105425  11-07-2017 20:41           66     2133-041  12-07-2017 04:41

[105426 rows x 4 columns]

In [4]:
data.drop(['subjectId', 'InternalTime'], inplace=True, axis=1)

In [5]:
data

             DisplayTime GlucoseValue
0       03-02-2014 03:42           93
1       03-02-2014 03:47           93
2       03-02-2014 03:52           93
3       03-02-2014 03:57           95
4       03-02-2014 04:02           96
...                  ...          ...
105421  11-07-2017 20:21           70
105422  11-07-2017 20:26           64
105423  11-07-2017 20:31           61
105424  11-07-2017 20:36           62
105425  11-07-2017 20:41           66

[105426 rows x 2 columns]

In [6]:
data = data.replace({"Low" : "40"}, regex=True)

In [7]:
data['GlucoseValue'] = data['GlucoseValue'].astype(float)

In [8]:
data.to_csv(r'data/processed_data.csv')